<%-include("./partials/header.ejs")%>
<form>
    <label for="Location">Location:</label><br />
    <input id="location" type="text" name="Location" /><br />
    <button>Submit</button>
</form>
<%-include("./partials/footer.ejs")%>
